#mimo{
		font-style:italic;
		font-weight:bold;
		background-color:black;
		color:Yellow;
		font-size:30px;
		}
.Rebels{
		font-style: italic;
		font-weight:bold;
		background-color:blue;
		}
.images{
    width:500px;
    height:400px;
    float:below;
    border: solid red;
}
#mimo1{
		font-style:italic;
		font-weight:bold;
		background-color:black;
		color:Yellow;
		font-size:30px;
		}
.button{
		font-style:italic;
		onClick="background-color:Black;
		color:Purple;"
		}
